<h1> Ticket Detail</h1>
<p>
  <b>Title:</b>
  <%=h @ticket.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @ticket.description %>
</p>
<p>
  <b>Created at:</b>
  <%=h @ticket.created_at %>
</p>
